@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap');

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.trips {
  &__title {
    text-align: center;
    margin: 2rem 0;
    font-weight: bold;
    font-size: 1.8rem;
  }
}
